<head> <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet"> 
</head>
<body>
    
<div class="main-div">


    <mat-card color="primary" class="mat-elevation-z8">
        <mat-card-title style="height: 55px;" layout-align="center center">
            <!-- <h1 style="width: 100%;"><img class="img-responsive" src="/assets/logo.png" alt="iBoltsys"></h1> -->
            <h1 style="width: 100%;">Cadastro</h1>
        </mat-card-title>

        <form class="form" [formGroup]="cadastroForm">
            <mat-card-content>

                <mat-form-field class="input-full-width">
                    <mat-placeholder>
                        <mat-icon> perm_identity</mat-icon>nome
                    </mat-placeholder>
                    <input matInput autofocus formControlName="nome">
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <mat-placeholder>
                        <mat-icon>email</mat-icon>email
                    </mat-placeholder>
                    <input matInput formControlName="email">
                </mat-form-field>


                <mat-form-field class="input-full-width">
                    <mat-placeholder>
                        <mat-icon>visibility</mat-icon>senha
                    </mat-placeholder>
                    <input matInput type="password" formControlName="senha">
                </mat-form-field>



                <mat-form-field class="input-full-width">
                    <mat-placeholder>
                        <mat-icon>visibility</mat-icon>digite a senha novamente
                    </mat-placeholder>
                    <input matInput type="password" formControlName="confirmacaoSenha">
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <mat-grid-list cols="1" rowHeight="50px">
                    <mat-grid-tile>
                        <button *ngIf="!load; else spin;" type="submit" mat-flat-button color="primary" [disabled]="cadastroForm.invalid" (click)="cadastrar()" >
                            <mat-icon>check</mat-icon>
                            <span>Cadastrar</span>
                        </button><br>
                        <button mat-button color="warn" (click)="cancelar()">
                            <mat-icon>cancel</mat-icon>
                            <span>Cancelar</span>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-actions>
        </form>
    </mat-card>
</div>


<!-- Botão que mostra para o usuário assim que o download iniciar -->
<ng-template #spin>
    <button mat-raised-button color="primary" title="Clique para entrar" >
         Cadastrando...&nbsp;&nbsp; <!--<app-spinner-angularmaterial></app-spinner-angularmaterial>   -->
    </button>
    </ng-template>
</body>