<mat-tab-group>
<mat-tab label="Dados Cadastrais"> 

    <ng-container *ngIf="usuario">
<h1>Dados Cadastrais</h1>
<mat-divider></mat-divider>
<h3>Nome:</h3>
<p>{{usuario.nome}}</p>
<mat-divider></mat-divider>
<h3>Email:</h3>
<p>{{usuario.username}}</p>
</ng-container>
<mat-divider></mat-divider>
</mat-tab>

<mat-tab label="Alterar Dados">
<h1>Alterar Dados</h1>
<mat-divider></mat-divider>
<form [formGroup]="dadosForm">
    <mat-form-field class="example-full-width">
        <mat-label>Editar Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome">
    </mat-form-field>
    <mat-divider></mat-divider><br>
    <mat-form-field class="example-full-width">
        <mat-label>Editar Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
    <mat-divider></mat-divider><br>
    <mat-form-field class="example-full-width">
        <mat-label>Editar Senha</mat-label>
        <input matInput formControlName="senha" placeholder="Senha" type="password">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
          <mat-label>Digite novamente a nova senha</mat-label>
          <input matInput formControlName="confirmacaoSenha" placeholder="Confirmação de senha" type="password">
        </mat-form-field>
  


      <button mat-raised-button color="primary" (click)="alterarDados(usuario.id)" [disabled]="dadosForm.invalid">Editar</button> 
</form> 
</mat-tab>

<mat-tab label="Excluir Conta">
<h1>Excluir Conta</h1>
<mat-divider></mat-divider><br>
<button mat-raised-button color="warn" (click)="remover()" title="Excluir Conta">Excluir Conta</button>
</mat-tab>
</mat-tab-group>

<!-- <pre>{{usuario | json}}</pre> -->