<mat-tab-group>


    <mat-tab label="Minhas tarefas"> 
<form [formGroup]="tarefaForm">
        <mat-form-field class="example-full-width">
            <mat-label>Adicionar Tarefa</mat-label>
            <textarea matInput formControlName="conteudo_tarefa" placeholder="Tarefa"></textarea>
          </mat-form-field>
    <button mat-raised-button color="primary" (click)="adicionar()">Adicionar</button> 
    </form> 
    <br>
    <mat-divider></mat-divider>
    <br><br>

    <ng-container *ngIf="tarefas">
        <div *ngFor="let tarefa of tarefas.content">
            <div *ngIf="tarefa.status_tarefa == 'ativo'">
            <mat-card>
                <mat-checkbox (click)="arquivar(tarefa.idTarefa)" >{{tarefa.conteudo_tarefa}}</mat-checkbox>
                <div fxLayout="row" fxLayoutAlign="end stretch">
                <button mat-mini-fab color="primary" (click)="openDialog(tarefa.idTarefa)"><mat-icon>create</mat-icon></button>
                <button mat-mini-fab color="warn" (click)="inativar(tarefa.idTarefa)"><mat-icon>delete</mat-icon></button>
            </div>
            </mat-card><br>
                </div>
            </div>
            
            </ng-container>
  </mat-tab>



    <mat-tab label="Tarefas finalizadas"> 
        <ng-container *ngIf="tarefas">
            <div *ngFor="let tarefa of tarefas.content">
                <div *ngIf="tarefa.status_tarefa == 'arquivado'">
                <mat-card>
                    <mat-checkbox [checked]="finalizado" (click)="desarquivar(tarefa.idTarefa)"><del>{{tarefa.conteudo_tarefa}}</del></mat-checkbox>
                    <div fxLayout="row" fxLayoutAlign="end stretch">
                    <button mat-mini-fab color="warn" (click)="inativar(tarefa.idTarefa)"><mat-icon>delete</mat-icon></button>
                </div>
                </mat-card><br>
                    </div>
                </div>
                
                </ng-container>
    </mat-tab></mat-tab-group>

<!-- <pre>
{{tarefas | json}}</pre> -->




 <!-- <ul>
    <li *ngFor="let tarefa of tarefas.content">
        {{tarefa.conteudo_tarefa}}
    </li>
</ul>

<form [formGroup]="tarefaForm">
<input type="text" formControlName="conteudo_tarefa">
<button (click)="adicionar()">Enviar</button>
<button (click)="editar()">Editar</button>
<button (click)="inativar()">Inativar</button>
</form>

<pre>
{{tarefas | json}}</pre> -->